.profile-picture-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-picture-container.hasImage {
    align-items: center;
}

.profile-picture-label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.profile-picture-input {
    display: none;
}

.profile-picture-preview {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-buttons {
    display: flex;
    gap: 10px;
}

.picButton {
    padding: 8px 12px;
    border: 1px solid var(--cor-secundaria-preto);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    background-color: var(--cor-fundo-claro);
    transition: background-color 0.2s;
}

.picButton:hover {
    color: var(--cor-primaria-dourado-escuro);
    border-color: var(--cor-primaria-dourado-escuro);
}

.deleteButton {
    background-color: #ffff;
    color: #000;
  }
  
  .deleteButton:hover {
    color:#d13242;
    border-color: #d13242;
}