@import url('https://fonts.googleapis.com/css2?family=Forum&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.newsSection {
  padding: 60px 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom:140px;
  border-top: #9c7848 2px solid;
  
  
}


.newsHeader {
  margin-bottom: 60px;
  
}

.headerTitles{
    left:160px;
    position:relative;
    
}

.newsSubtitle {
  color: #BF9766;
  font-size: 24px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.newsTitle {
  font-size: 64px;
  margin-top: 10px;
  font-weight: 500;
  font-family: "Forum", sans-serif;
}

.discoverBtn {
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    font-family: "Forum", sans-serif;
    color: #BDBDBD ;
    position: relative;
    left:1170px;
    bottom: 58px;
    
    
}




.newsGrid {
display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "block1 block2 block5"
    "block3 block4 block5";
  column-gap: 160px;
  row-gap: 50px; ;
  justify-content: center;
}



.newsCard {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 15px;
  transition: transform 0.3s ease;
  width: 285px;
display: flex;              
  flex-direction: column;     
  align-items: center;        
  text-align: center;

}

.newsCard:hover {
  transform: translateY(-4px);
}


.newsImage {
  width: 100%;
  height: 164px;
  object-fit: cover;
  border-radius: 2px;
}


.arrowBtn {
  position: absolute;
  bottom: 100px;
  right: 10px;
  background-color: #BDBDBD;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: background 0.3s;
  color:white;
  
}

.arrowBtn:hover {
  background-color: #888;
}


.newsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #888;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight:200;
  order:2;

}

.separator {
  color: #bbb;
}



.block5 .newsImage {
  width: 528px;
  height: 396px;
  object-fit: cover; 

}

.block1 .newsImage,
.block2 .newsImage,
.block3 .newsImage,
.block4 .newsImage {
  width: 284.5px;
  height: 164px;
  
}

.newsBlockTitle {
    color:#818080;
    font-family:"Forum", sans-serif;
    font-size: 24px;
    font-weight: 300;
    order:1;
    padding-top:16px;
    border-bottom: #818080 1px solid;
}

.block1 { grid-area: block1; }
.block2 { grid-area: block2; }
.block3 { grid-area: block3; }
.block4 { grid-area: block4; }
.block5 { grid-area: block5; }


.block5 .arrowBtn {
    bottom:180px;
    background-color: #BF9766;
}

.block5 .arrowBtn:hover {
    background-color: #9c7848;
}
