/* Botão de Submissão */
.submitButton {
  width: 45%;
  padding: 14px;
  background-color: var(--cor-primaria-dourado);
  color: var(--cor-secundaria-preto);
  border: 1px solid var(--cor-secundaria-preto);
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 400;
  font-family: var(--fonte-corpo);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  color: var(--cor-secundaria-preto);
  background-color: var(--cor-primaria-dourado-escuro);
}

/* links adicionais (esqueceu sehha e registro) */
.forgotPassword,
.registerLink {
  margin-top: 15px;
  font-size: 0.9em;
  color: #909090;
}

.forgotPassword a,
.registerLink a {
  color: var(--cor-primaria-dourado-escuro);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
