@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.roomSection {
    background-color: #2D2C2C;
    margin-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    
    
}

.Title {
    color: #BF9766;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    margin-left: 620px;
    padding-top: 100px;
}

.subTitle {
    color: white;
    font-family: 'Forum', sans-serif;
    font-size: 44px;
    font-weight: normal;
    margin-top:20px;
    margin-left:500px;
}

.roomImg {
    width: 652.16px;
    height: 405.34px;
    border-radius: 2px;
    margin-left:700px;
    margin-top: 50px;
    margin-bottom:80px;
    z-index:1;
    position: relative;
}

.roomCard {
    background-color: white;
    width: 590px;
    height:330px;
    font-family: 'Forum', sans-serif;
    border-radius: 2px;
    margin-left: 200px;
    z-index:2;
    position:absolute;
    margin-top:80px;
    
}

.suiteName {
    color: #2D2C2C;
    font-size: 24px;
    margin-left:10px;
    margin-top:20px;
    
}

.price {
    color: #BF9766;
    font-size: 20px;
    margin-left:10px;
    padding-top:10px;
    
}

.featuresContainer {
    padding-top: 40px;
    color: #575656 ;
    font-size: 17px;
    column-gap:10px;
    row-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
        
    
}

.featureItem {
    width: 24px;
    height: 19.4px;
    margin-left:47px; 
    margin-top:-5px; 
    display:flex;
    gap:20px;  
    
}



.bookBtn {
    color: #BF9766;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin-top:50px;
    background-color: transparent;
    font-family: 'Forum', sans-serif;
    border-top: 1px solid #BF9766;
    border-bottom: 1px solid #BF9766;
    margin-left: 390px;
    transition: color 0.3s ease;
}

.bookBtn:hover {
    color: #8b683d;
}

.Line {
    width: 475px;
    margin-left: 38px;
    margin-top: 13px;
    
}

.arrowBtn {
    cursor:pointer;
    color:white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;

}
   


.arrowBtn:first-of-type {
  margin-left: 70px;
  margin-top: 260px;
  
}

.arrowBtn:last-of-type {
  margin-left:1400px;
  margin-top: -281px;
  
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #BDBDBD;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.dot:hover {
  transform: scale(1.2);
}

.activeDot {
  background-color: #BF9766;
  width: 13px;
  height: 13px;
}



@media (max-width: 768px) {
    

    .roomSection {
        margin-top: 80px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
        overflow-x: hidden;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:30px;
        
    }

    .Title,
    .subTitle {
        margin-left: 0;
        text-align: center;
        order:1;
    }

    .Title {
        padding-top: 50px;
        font-size: 16px;
    }

    .subTitle {
        font-size: 30px;
        margin-top: 10px;
    }

    .roomImg {
        display: block;
        width: 100%; 
        max-width: 500px;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 0;
        position: relative; 
        z-index: 1; 
        order:2;
    }

    .roomCard {
        width: 75%; 
        max-width: 450px; 
        height: 350px; 
        position: absolute; 
        z-index: 5;
        left: 50%;
        order:3;
        transform: translateX(-50%);
        top: 360px;    
        padding: 15px 15px 20px 15px;
        margin-left: 0;
        margin-top: 0;
    }
    

    .suiteName,
    .price {
        margin-left: 0;
        text-align: center;
    }
    
    .price {
        padding-top: 5px;
        margin-bottom: 10px;
    }

   
    .featuresContainer {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        row-gap: 20px; 
        padding-top: 15px;
    }
    
    .featureItem {
        margin-left: 10px; 
        margin-top: 16px;
        display: flex;
        gap: 10px; 
        align-items: center;
        justify-content: flex-start; 
        font-size: 14px; 
    }
    

    .featureItem img {
        width: 20px;
        height: auto;
    }

    .Line {
        width: 100%; 
        margin-left: 0; 
        margin-top: 15px;
    }

    
    .bookBtn {
        margin-top:30px;
        margin-left: 35px; 
        display: inline-block;
        padding: 6px 40px; 
        font-size: 18px;
        
    }
       

    .arrowBtn {
        display: block; 
        font-size: 1.2rem;
        top: 45%; 
        margin-top: 0;
    }
    
    .arrowBtn:first-of-type {
        left: 15px; 
        margin-left:0;
        top:251px;
        
    }
    
    .arrowBtn:last-of-type {
        right: 15px; 
        margin-left: 0;
        padding-top:400px;
    }

    .dotsContainer {
        padding-top: 350px; 
        order:4;
    }
}


@media (min-width: 780px) and (max-width: 1280px) {
    .sliderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; 
        width: 90%; 
        max-width: 950px;
        margin: 0 auto; 
        margin-top: 50px;
    }
    
    
    .roomImg, .roomCard {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }


    .Title {
        margin-left: 0;
        text-align: center;
        padding-top: 50px; 
    }

    .subTitle {
        margin-left: 0;
        text-align: center;
        font-size: 40px; 
    }


    .roomImage {
        width: 100%;
        max-width: 800px; 
        position: relative; 
    }
    
    .roomImg {
        width: 100%; 
        height: auto; 
    }
    .roomCard {
        width: 450px; 
        height: auto;
        position: absolute; 
        z-index: 2;
        top:120%; 
        left: 50%; 
        padding: 20px;
        transform: translate(-50%, -50%);
    }

    .Line {
        width: 85%; 
        margin: 15px auto;
    }
    
    .bookBtn {
        margin-left: 250px; 
        font-size: 25px;
        margin-top:-20px;
    }

    .featuresContainer {
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
        column-gap: 10px;
        padding-top: 20px;
        font-size: 16px;
        
    }

    .featureItem {
        margin-left: 10px; 
        gap: 10px;
    }

    .arrowBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }
    
    .arrowBtn:first-of-type {
        left: 0; 
        margin-left: -30px; 
        margin-top: 0;
    }

    .arrowBtn:last-of-type {
        right: 0; 
        margin-left: 0;
        margin-right: -30px; 
        margin-top: 0;
    }

    .dotsContainer {
        margin-top: 320px;
    }


    .cardActions {
        margin-top:40px;
    }

}

@media (min-width: 700px) and (max-width: 770px){
    .roomCard{
       top:45%;
    }
}

